@use "src/assets/scss/abstracts" as abs;

.base-card {
  border-radius: 12px;
  padding: abs.em(16);
}

.dark {
  background-color: abs.$color-base-card-background--dark;
}

.light {
  background-color: abs.$color-base-card-background--light;
}
