@use "src/assets/scss/abstracts" as abs;

.sidebar {
  background-color: abs.$color-sidebar-background;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: left;
  padding-left: abs.em(16);
  padding-right: abs.em(16);
  margin-right: abs.em(32);
  height: 100vh;
  min-width: 30px;

  .sidebar__header {
    display: flex;
    justify-content: space-between;

    svg {
      color: abs.$color-white;
      font-size: abs.rem(30);
      margin-top: abs.em(11.2);
      cursor: pointer;
    }
  }

  .sidebar__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-bottom: abs.em(26);
  }
}

.hidden {
  display: none;
}
