@use "src/assets/scss/abstracts" as abs;

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: left;
  row-gap: 16px;
  padding-left: abs.em(16);
  padding-right: abs.em(16);
  height: 100%;

  @include abs.breakpoints(sm) {
    position: fixed;
    z-index: 30;
  }

  .sidebar__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: abs.em(26);

    @media screen and (max-height: 608px) {
      overflow-y: auto;
    }
  }
}

.dark {
  background-color: abs.$color-sidebar-background--dark;
}

.light {
  background-color: abs.$color-sidebar-background--light;
}
