@use "src/assets/scss/abstracts" as abs;

.sidebar {
  background-color: abs.$color-sidebar-background;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: left;
  row-gap: 16px;
  padding-left: abs.em(16);
  padding-right: abs.em(16);
  margin-right: abs.em(32);
  height: 100vh;

  @include abs.breakpoints(sm) {
    position: fixed;
    z-index: 30;
  }

  .sidebar__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: abs.em(26);
  }
}
