@use "src/assets/scss/abstracts" as abs;

.user-actions {
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
  padding-top: abs.em(26);
  margin-top: auto;
}

.hidden {
  display: none;
}

.dark {
  svg {
    color: abs.$color-text--dark;
  }
}

.light {
  svg {
    color: abs.$color-text--light;
  }
}
