@use "src/assets/scss/abstracts" as abs;

.header {
  display: flex;
  justify-content: space-between;

  svg {
    font-size: abs.rem(30) !important;
  }
}

.hidden {
  display: none;
}

.dark {
  color: abs.$color-white;

  svg {
    color: abs.$color-white !important;
  }
}

.light {
  color: abs.$color-black;

  svg {
    color: abs.$color-black !important;
  }
}
