@use "src/assets/scss/abstracts" as abs;

.header {
  display: flex;
  justify-content: space-between;

  svg {
    color: abs.$color-white;
    font-size: abs.rem(30);
    margin-top: abs.em(11.2);
    cursor: pointer;
  }
}

.hidden {
  display: none;
}
