$color-palette: (
  "gray-scale": (
    0: #000000,
    1: #0c0c0d,
    2: #121212,
    3: #242426,
    4: #a1a1aa,
    5: #ebebeb,
    6: #f4f4f4,
    7: #ffffff,
  ),
  "primary": #0862e5,
  "invalid": #e5083f,
  "semi-transparent--dark": #0000009a,
);

// Buttons
$color-button-secondary: map-get($color-palette, "gray-scale", 4);

// -- General--

$color-primary: map-get($color-palette, "primary");
$color-danger: map-get($color-palette, "invalid");
$color-white: map-get($color-palette, "gray-scale", 7);
$color-black: map-get($color-palette, "gray-scale", 0);

// Dark
$color-text--dark: map-get($color-palette, "gray-scale", 4);
$color-backdrop--dark: map-get($color-palette, "semi-transparent--dark");

// Light
$color-text--light: map-get($color-palette, "gray-scale", 3);

// -- Body --

// Dark
$color-body-background--dark: map-get($color-palette, "gray-scale", 1);

// Light
$color-body-background--light: map-get($color-palette, "gray-scale", 7);

// -- PageLoader --

// Dark
$color-spinner-background--dark: map-get($color-palette, "gray-scale", 2);
$color-spinner--dark: map-get($color-palette, "gray-scale", 4);

// Light
$color-spinner-background--light: map-get($color-palette, "gray-scale", 4);
$color-spinner--light: map-get($color-palette, "gray-scale", 2);

// -- BaseCard --

// Dark
$color-base-card-background--dark: map-get($color-palette, "gray-scale", 2);

// Light
$color-base-card-background--light: map-get($color-palette, "gray-scale", 6);

// -- Sidebar --

// Dark
$color-sidebar-background--dark: map-get($color-palette, "gray-scale", 2);
$color-sidebar-link-background--dark: map-get($color-palette, "gray-scale", 3);

// Light
$color-sidebar-background--light: map-get($color-palette, "gray-scale", 6);
$color-sidebar-link-background--light: map-get($color-palette, "gray-scale", 5);

// -- Todo --

// Dark
$color-todo-background--dark: map-get($color-palette, "gray-scale", 3);
$color-todo-details-background--dark: map-get($color-palette, "gray-scale", 2);

// Light
$color-todo-background--light: map-get($color-palette, "gray-scale", 5);
$color-todo-details-background--light: map-get($color-palette, "gray-scale", 6);

// -- Modal --

// Dark
$color-modal-background--dark: map-get($color-palette, "gray-scale", 2);

// Light
$color-modal-background--light: map-get($color-palette, "gray-scale", 6);

// -- Input --

$color-input-focused: map-get($color-palette, "primary");

// Dark
$color-input-background--dark: map-get($color-palette, "gray-scale", 1);
$color-input-outline--dark: map-get($color-palette, "gray-scale", 3);
$color-input-checkbox--dark: map-get($color-palette, "gray-scale", 1);
$color-input-checkbox-outline--dark: map-get($color-palette, "gray-scale", 3);

// Light
$color-input-background--light: map-get($color-palette, "gray-scale", 7);
$color-input-outline--light: map-get($color-palette, "gray-scale", 4);
$color-input-checkbox--light: map-get($color-palette, "gray-scale", 7);
$color-input-checkbox-outline--light: map-get($color-palette, "gray-scale", 4);

// -- Select --

// Dark
$color-select-background--dark: map-get($color-palette, "gray-scale", 1);
$color-select-outline--dark: map-get($color-palette, "gray-scale", 3);

// Light
$color-select-background--light: map-get($color-palette, "gray-scale", 7);
$color-select-outline--light: map-get($color-palette, "gray-scale", 4);
