$color-palette: (
  "gray-scale": (
    0: #000000,
    25: #18181b,
    50: #26262b,
    75: #a1a1aa,
    100: #ffffff,
  ),
  "primary": #1e90ff,
  "invalid": #f65164,
);

$color-sidebar-background: map-get($color-palette, "gray-scale", 25);
$color-item-favorites-background: map-get($color-palette, "gray-scale", 50);
$color-item-list-background: map-get($color-palette, "gray-scale", 50);
$color-item-todo-background: map-get($color-palette, "gray-scale", 50);

$color-input-background: map-get($color-palette, "gray-scale", 50);
$color-input-outline: map-get($color-palette, "gray-scale", 50);
$color-input-focused: map-get($color-palette, "gray-scale", 75);

$color-primary: map-get($color-palette, "primary");
$color-danger: map-get($color-palette, "invalid");
$color-white: map-get($color-palette, "gray-scale", 100);
$color-text--light: map-get($color-palette, "gray-scale", 75);
