@use "src/assets/scss/abstracts" as abs;

.button {
  color: abs.$color-white;
  border: none;
  outline: none;
  font-size: abs.rem(16);
  font-weight: 600;
  border-radius: 12px;
  padding: abs.em(14.4) abs.em(32);
  transition: background-color 0.25s ease;
  cursor: pointer;
}

.primary {
  @include abs.button(abs.$color-primary);
}

.primary--outline {
  @include abs.button--outline(abs.$color-primary);
}

.secondary {
  @include abs.button--outline(abs.$color-button-secondary);
}

.danger {
  @include abs.button(abs.$color-danger);
}

.danger--outline {
  @include abs.button--outline(abs.$color-danger);
}
