@use "src/assets/scss/abstracts" as abs;

.item-favorites {
  text-decoration: none;
  padding: abs.em(16);
  margin-bottom: abs.em(16);
  cursor: pointer;
  transition: background-color 0.25s ease, border-radius 0.25s ease,
    font-weight 0.25s ease;

  &:hover {
    background-color: abs.$color-item-favorites-background;
    border-radius: 16px;
  }
}

.item-favorites__text {
  margin-top: 0;
  margin-bottom: 0;
}

.--active {
  background-color: abs.$color-item-favorites-background;
  text-decoration: none;
  border-radius: 16px;
  font-weight: 700;
  padding: abs.em(16);
  margin-bottom: abs.em(16);
  cursor: pointer;
  transition: font-weight 0.25s ease;
}
