@use "src/assets/scss/abstracts" as abs;

.backdrop {
  background-color: abs.$color-backdrop--dark;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;

  .todo-details {
    display: flex;
    flex-direction: column;
    float: right;
    overflow: hidden;
    transform-origin: right;
    row-gap: 16px;
    padding-left: abs.em(16);
    padding-right: abs.em(16);
    height: 100%;

    @include abs.breakpoints(sm) {
      width: 93% !important;
    }

    .todo-details__header {
      display: flex;
      justify-content: space-between;

      svg {
        font-size: abs.rem(30);
      }

      &.dark {
        svg {
          color: abs.$color-white;
        }
      }
      &.light {
        svg {
          color: abs.$color-black;
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      row-gap: 16px;
      height: 100%;

      .todo-details__inputs {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        label {
          margin-top: abs.em(16);
        }
      }

      .todo-details__buttons {
        display: flex;
        justify-content: center;
        column-gap: 16px;
        padding-bottom: abs.em(20);
        width: 100%;

        svg {
          color: abs.$color-danger;
        }
      }
    }
  }

  .dark {
    background-color: abs.$color-todo-details-background--dark;
  }

  .light {
    background-color: abs.$color-todo-details-background--light;
  }

  .hidden {
    display: none;
  }
}

.modal__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding-bottom: abs.em(20);
  width: 100%;
}
