@use "src/assets/scss/abstracts" as abs;

.backdrop {
  background-color: abs.$color-backdrop--dark;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10;

  .todo-details {
    background-color: abs.$color-sidebar-background;
    display: flex;
    flex-direction: column;
    float: right;
    padding-left: abs.em(16);
    padding-right: abs.em(16);
    height: 100vh;
    z-index: 20;

    .todo-details__header {
      display: flex;
      justify-content: space-between;

      svg {
        color: abs.$color-white;
        font-size: abs.rem(30);
      }
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      row-gap: 16px;
      padding-top: abs.em(16);
      height: 100%;

      .todo-details__inputs {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
      }

      .todo-details__buttons {
        display: flex;
        justify-content: center;
        column-gap: 16px;
        padding-bottom: abs.em(20);
        width: 100%;

        svg {
          color: abs.$color-danger;
        }
      }
    }
  }

  .hidden {
    display: none;
  }
}

.modal__buttons {
  display: flex;
  justify-content: center;
  column-gap: 16px;
  padding-bottom: abs.em(20);
  width: 100%;
}
