@use "src/assets/scss/abstracts" as abs;

.page-container {
  display: inline-block;
  width: 100%;
}

.dark {
  background-color: abs.$color-body-background--dark;
}

.light {
  background-color: abs.$color-body-background--light;
}
