@use "../abstracts" as abs;

html {
  font-family: "Inter", sans-serif;
  line-height: 1.75rem;
  height: 100%;
}

body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  padding-top: abs.em(11.2);
}

p {
  font-size: 1.125rem;
}

#root {
  display: flex;
  height: 100vh;
}
