@use "../abstracts" as abs;

html {
  font-family: "Inter", sans-serif;
  line-height: 1.75rem;
}

body {
  background-color: #0c0c0d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  padding-top: abs.em(11.2);
  color: #fff;
}

p {
  color: #a1a1aa;
  font-size: 1.125rem;
}

#root {
  display: flex;
  flex-flow: row;
}
