@use "src/assets/scss/abstracts" as abs;

.todo {
  background-color: abs.$color-todo-background;
  position: relative;
  text-decoration: none;
  border-radius: 16px;
  padding: abs.em(16);
  cursor: pointer;

  p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0;
    margin-top: 0;
    max-width: 90%;
  }

  button {
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-right: abs.em(16);
    cursor: pointer;

    svg {
      color: abs.$color-white;
      font-size: abs.rem(26);
    }
  }
}
