@use "src/assets/scss/abstracts" as abs;

.todo {
  display: flex;
  position: relative;
  text-decoration: none;
  border-radius: 12px;
  padding: abs.em(16);
  cursor: pointer;

  p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
  }
}

.dark {
  background-color: abs.$color-todo-background--dark;

  p {
    color: abs.$color-white;
  }
}

.light {
  background-color: abs.$color-todo-background--light;

  p {
    color: abs.$color-black;
  }
}
