@use "src/assets/scss/abstracts" as abs;

.list-page-header {
  display: flex;
  padding-right: abs.em(32);
  padding-left: abs.em(32);

  @include abs.breakpoints(sm) {
    padding-right: abs.em(16);
    padding-left: abs.em(16);
  }

  button:nth-child(1) {
    padding-top: abs.em(22);
    margin-right: abs.em(16);

    svg {
      color: abs.$color-white;
      font-size: abs.rem(30);
    }
  }

  button:nth-child(3) {
    margin-left: auto;

    svg {
      color: abs.$color-danger !important;
      font-size: abs.rem(30);
    }
  }
}

.modal__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding-bottom: abs.em(20);
  width: 100%;
}
