@use "src/assets/scss/abstracts" as abs;

.lists {
  display: flex;
  flex-direction: column;

  .lists__content {
    overflow-y: auto;
    width: 100%;
    max-height: 400px;

    @media screen and (max-height: 685px) {
      max-height: 100px;
    }

    @media screen and (min-height: 685px) and (max-height: 735px) {
      max-height: 150px;
    }

    @media screen and (min-height: 735px) and (max-height: 785px) {
      max-height: 200px;
    }

    @media screen and (min-height: 785px) and (max-height: 835px) {
      max-height: 250px;
    }

    @media screen and (min-height: 835px) and (max-height: 935px) {
      max-height: 300px;
    }
  }
}

.dark {
  color: abs.$color-white;
}

.light {
  color: abs.$color-black;
}

.hidden {
  display: none;
}
