@use "src/assets/scss/abstracts" as abs;

.wrapper {
  width: 100%;

  .select {
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 12px;
    padding: abs.em(20) abs.em(16);
    width: 100%;
    cursor: pointer;

    &.dark {
      background-color: abs.$color-select-background--dark;
      color: abs.$color-white;
      box-shadow: 0 0 0 2px abs.$color-select-outline--dark;
    }

    &.light {
      background-color: abs.$color-select-background--light;
      color: abs.$color-black;
      box-shadow: 0 0 0 2px abs.$color-select-outline--light;
    }
  }
}

.dark {
  color: abs.$color-white;
}

.light {
  color: abs.$color-black;
}
