@use "src/assets/scss/abstracts" as abs;

.sign-up {
  background-color: abs.$color-sign-up-background;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border-radius: 16px;
  padding: abs.em(16);
  margin: auto;
  width: 20%;

  h1 {
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;

    a {
      text-decoration: none;
    }

    .sign-up__error-description {
      color: abs.$color-danger;
      text-align: center;
    }
  }
}
