@use "src/assets/scss/abstracts" as abs;

.main {
  display: flex;
  flex-direction: column;
}

.dark {
  color: abs.$color-white;
}

.light {
  color: abs.$color-black;
}

.hidden {
  display: none;
}
