@use "src/assets/scss/abstracts" as abs;

.wrapper {
  color: abs.$color-text--light;
  display: flex;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: fit-content;
  transition: all 0.25s ease;
  cursor: pointer;

  input {
    opacity: 0;
    height: 0;
    width: 0;

    &:checked {
      & ~ .checkbox {
        background-color: abs.$color-primary;
        box-shadow: none;

        &::after {
          display: block;
        }
      }
    }
  }

  .checkbox {
    border-radius: 8px;
    box-shadow: 0 0 0 2px abs.$color-input-outline;
    margin-right: abs.em(16);
    width: 25px;
    height: 25px;
    // transition: background-color 0.25s ease;

    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  svg {
    color: abs.$color-white;
    position: absolute;
    font-size: abs.rem(22);
    z-index: 10;
    left: 5px;
    top: 2px;
  }
}
