@use "src/assets/scss/abstracts" as abs;

.wrapper {
  display: flex;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: fit-content;
  transition: all 0.25s ease;
  cursor: pointer;

  input {
    opacity: 0;
    height: 0;
    width: 0;

    &:checked {
      & ~ .checkbox {
        &::after {
          display: block;
        }
      }
    }
  }

  .input-checkbox {
    border-radius: 8px;
    margin-right: abs.em(16);
    width: 25px;
    height: 25px;

    &:after {
      content: "";
      position: absolute;
      display: none;
    }

    &.dark {
      background-color: abs.$color-input-checkbox--dark;
      box-shadow: 0 0 0 2px abs.$color-input-checkbox-outline--dark;
    }

    &.light {
      background-color: abs.$color-input-checkbox--light;
      box-shadow: 0 0 0 2px abs.$color-input-checkbox-outline--light;
    }
  }

  svg {
    color: abs.$color-primary;
    position: absolute;
    font-size: abs.rem(20);
    z-index: 10;
    left: 6px;
    top: 3px;
  }

  h3 {
    padding: 0;
  }
}

.dark {
  color: abs.$color-white;
}

.light {
  color: abs.$color-black;
}
