@use "src/assets/scss/abstracts" as abs;

.item-todo-details {
  background-color: abs.$color-sidebar-background;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: right;
  padding-left: abs.em(16);
  padding-right: abs.em(16);
  height: 100vh;
  min-width: 0px;

  svg {
    color: abs.$color-white;
    font-size: abs.rem(30);
    cursor: pointer;
  }
}

.hidden {
  display: none;
}
