@use "src/assets/scss/abstracts" as abs;

.add-list {
  position: relative;

  button {
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    box-sizing: border-box;
    transform: translateY(-50%);
    left: 10px;
    top: 50%;
    cursor: pointer;

    svg {
      color: abs.$color-text--light;
      font-size: abs.rem(26);
    }
  }
}
