@use "src/assets/scss/abstracts" as abs;

.icon-button {
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  outline: none;
  width: fit-content;
  cursor: pointer;

  svg {
    font-size: abs.rem(26);
  }
}

.absolute {
  position: absolute;
  transform: translateY(-50%);
  left: 10px;
  top: 50%;
}

.dark {
  svg {
    color: abs.$color-text--dark !important;
  }
}

.light {
  svg {
    color: abs.$color-text--light !important;
  }
}
