@use "src/assets/scss/abstracts" as abs;

.input-wrapper {
  width: 100%;

  .input-email {
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 12px;
    width: 100%;
    padding: abs.em(20) abs.em(16);
    transition: box-shadow 0.25s ease;

    &::placeholder {
      opacity: 0.5;
    }

    &:focus {
      box-shadow: 0 0 0 2px abs.$color-input-focused !important;

      &:not(:placeholder-shown) {
        &:invalid {
          box-shadow: 0 0 0 2px abs.$color-danger !important;
        }
      }
    }

    &.dark {
      background-color: abs.$color-input-background--dark;
      color: abs.$color-white;
      box-shadow: 0 0 0 2px abs.$color-input-outline--dark;

      &::placeholder {
        color: abs.$color-text--dark;
      }
    }

    &.light {
      background-color: abs.$color-input-background--light;
      color: abs.$color-black;
      box-shadow: 0 0 0 2px abs.$color-input-outline--light;

      &::placeholder {
        color: abs.$color-text--light;
      }
    }
  }

  .with-icon {
    padding-left: abs.em(48);
  }
}

.dark {
  color: abs.$color-white;
}

.light {
  color: abs.$color-black;
}
