@use "src/assets/scss/abstracts" as abs;

.delete-account {
  display: flex;
  flex-direction: column;
  padding-bottom: abs.em(16);
}

.modal__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding-bottom: abs.em(20);
  width: 100%;
}
